@model test_reverse_engineer.Models.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DocName" class="control-label"></label>
                <input asp-for="DocName" class="form-control" />
                <span asp-validation-for="DocName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocSize" class="control-label"></label>
                <input asp-for="DocSize" class="form-control" />
                <span asp-validation-for="DocSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocFormat" class="control-label"></label>
                <input asp-for="DocFormat" class="form-control" />
                <span asp-validation-for="DocFormat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocStream" class="control-label"></label>
                <input asp-for="DocStream" class="form-control" />
                <span asp-validation-for="DocStream" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocCategory" class="control-label"></label>
                <input asp-for="DocCategory" class="form-control" />
                <span asp-validation-for="DocCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocDescription" class="control-label"></label>
                <input asp-for="DocDescription" class="form-control" />
                <span asp-validation-for="DocDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocStatus" class="control-label"></label>
                <input asp-for="DocStatus" class="form-control" />
                <span asp-validation-for="DocStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocCreatedDate" class="control-label"></label>
                <input asp-for="DocCreatedDate" class="form-control" />
                <span asp-validation-for="DocCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocModifiedDate" class="control-label"></label>
                <input asp-for="DocModifiedDate" class="form-control" />
                <span asp-validation-for="DocModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
