@model test_reverse_engineer.Models.Permission

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Permission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PermissionId" />
            <div class="form-group">
                <label asp-for="PermissionName" class="control-label"></label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionCreatedDate" class="control-label"></label>
                <input asp-for="PermissionCreatedDate" class="form-control" />
                <span asp-validation-for="PermissionCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionModifiedDate" class="control-label"></label>
                <input asp-for="PermissionModifiedDate" class="form-control" />
                <span asp-validation-for="PermissionModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
