@model test_reverse_engineer.Models.RoleHasPermission

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoleHasPermission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PermissionId" class="control-label"></label>
                <select asp-for="PermissionId" class ="form-control" asp-items="ViewBag.PermissionId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="RhpCreatedDate" class="control-label"></label>
                <input asp-for="RhpCreatedDate" class="form-control" />
                <span asp-validation-for="RhpCreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RhpModifiedDate" class="control-label"></label>
                <input asp-for="RhpModifiedDate" class="form-control" />
                <span asp-validation-for="RhpModifiedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
