@model test_reverse_engineer.Models.Initiative

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Initiative</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InitiativeTitle" class="control-label"></label>
                <input asp-for="InitiativeTitle" class="form-control" />
                <span asp-validation-for="InitiativeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparedDate" class="control-label"></label>
                <input asp-for="PreparedDate" class="form-control" />
                <span asp-validation-for="PreparedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundInformation" class="control-label"></label>
                <input asp-for="BackgroundInformation" class="form-control" />
                <span asp-validation-for="BackgroundInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectiveBenefit" class="control-label"></label>
                <input asp-for="ObjectiveBenefit" class="form-control" />
                <span asp-validation-for="ObjectiveBenefit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandCompensation" class="control-label"></label>
                <input asp-for="LandCompensation" class="form-control" />
                <span asp-validation-for="LandCompensation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandImprovement" class="control-label"></label>
                <input asp-for="LandImprovement" class="form-control" />
                <span asp-validation-for="LandImprovement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Building" class="control-label"></label>
                <input asp-for="Building" class="form-control" />
                <span asp-validation-for="Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infrastructure" class="control-label"></label>
                <input asp-for="Infrastructure" class="form-control" />
                <span asp-validation-for="Infrastructure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantMachine" class="control-label"></label>
                <input asp-for="PlantMachine" class="form-control" />
                <span asp-validation-for="PlantMachine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipment" class="control-label"></label>
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseUnderDevelopment" class="control-label"></label>
                <input asp-for="ExpenseUnderDevelopment" class="form-control" />
                <span asp-validation-for="ExpenseUnderDevelopment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingCapital" class="control-label"></label>
                <input asp-for="WorkingCapital" class="form-control" />
                <span asp-validation-for="WorkingCapital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contingency" class="control-label"></label>
                <input asp-for="Contingency" class="form-control" />
                <span asp-validation-for="Contingency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timeline" class="control-label"></label>
                <input asp-for="Timeline" class="form-control" />
                <span asp-validation-for="Timeline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedBy" class="control-label"></label>
                <input asp-for="RequestedBy" class="form-control" />
                <span asp-validation-for="RequestedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcknowledgedBy" class="control-label"></label>
                <input asp-for="AcknowledgedBy" class="form-control" />
                <span asp-validation-for="AcknowledgedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreedBy" class="control-label"></label>
                <input asp-for="AgreedBy" class="form-control" />
                <span asp-validation-for="AgreedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutiveSummary" class="control-label"></label>
                <input asp-for="ExecutiveSummary" class="form-control" />
                <span asp-validation-for="ExecutiveSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDefinition" class="control-label"></label>
                <input asp-for="ProjectDefinition" class="form-control" />
                <span asp-validation-for="ProjectDefinition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vision" class="control-label"></label>
                <input asp-for="Vision" class="form-control" />
                <span asp-validation-for="Vision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objective" class="control-label"></label>
                <input asp-for="Objective" class="form-control" />
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiativeLessonLearned" class="control-label"></label>
                <input asp-for="InitiativeLessonLearned" class="form-control" />
                <span asp-validation-for="InitiativeLessonLearned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
